:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #111827;
  --ion-text-color-rgb: 17, 24, 39;
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
}

body {
  background: #ffffff;
  color: #111827;
}

ion-content {
  --background: #ffffff;
  --color: #111827;
}
